@if (pageHome) {
  <mat-toolbar>
    <a class="nav-left" routerLink="/home">
      <img src="./assets/img/poke-radar.png" alt="Pokédex" class="nav-logo">
      <span class="nav-brand">Pokédex</span>
    </a>

    <div class="nav-center">
      <div class="search-box">
        <input
          type="text"
          placeholder="Search Pokémon"
          [(ngModel)]="searchInput"
          (keyup.enter)="searchPokemon()"
        />
        <button class="search-btn" (click)="searchPokemon()">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>

    <button class="theme-btn" (click)="toggleTheme()" [attr.aria-label]="darkMode ? 'Light mode' : 'Dark mode'">
      <mat-icon>{{ darkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>

    <a class="nav-right" routerLink="/trainer">
      @if (!userImgError) {
        <img
          src="./assets/img/perfil.jpg"
          alt="Trainer"
          class="user-avatar"
          (error)="onUserImgError()"
        />
      }
      @if (userImgError) {
        <mat-icon class="user-icon">account_circle</mat-icon>
      }
    </a>
  </mat-toolbar>
} @else {
  <mat-toolbar>
    <a class="nav-left" routerLink="/home">
      <button mat-icon-button aria-label="Back">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </a>
    <span class="nav-brand">Pokédex</span>
    <span class="spacer"></span>
    <button class="theme-btn" (click)="toggleTheme()" [attr.aria-label]="darkMode ? 'Light mode' : 'Dark mode'">
      <mat-icon>{{ darkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
    <a class="nav-right" routerLink="/trainer">
      @if (!userImgError) {
        <img
          src="./assets/img/perfil.jpg"
          alt="Trainer"
          class="user-avatar"
          (error)="onUserImgError()"
        />
      }
      @if (userImgError) {
        <mat-icon class="user-icon">account_circle</mat-icon>
      }
    </a>
  </mat-toolbar>
}
