@if (pageHome) {
  <mat-toolbar>
    <div class="nav-left">
      <button mat-icon-button aria-label="Home" routerLink="/home">
        <img src="../../../assets/img/poke-radar.png" alt="Pokédex" class="nav-logo">
      </button>
      <span class="nav-brand">Pokédex</span>
    </div>

    <div class="nav-center">
      <mat-form-field appearance="fill" class="search-field" subscriptSizing="dynamic">
        <mat-label>Search Pokémon</mat-label>
        <input matInput placeholder="#id or name" [(ngModel)]="searchInput" (keyup.enter)="searchPokemon()"/>
        <button matSuffix mat-icon-button (click)="searchPokemon()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="nav-right">
      <button mat-icon-button aria-label="Trainer" routerLink="/trainer">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
} @else {
  <mat-toolbar>
    <button mat-icon-button aria-label="Back" routerLink="/home">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span class="nav-brand">Pokédex</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Trainer" routerLink="/trainer">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
}
