<app-header [pageHome]="false"></app-header>
<div class="div-container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Crhistian Heredia Molina</mat-card-title>
      <mat-card-subtitle>Ing. Tecnologías de la información y Comunicaciones</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/perfil.jpg" alt="Crhistian-Heredia">
    <mat-card-content>
      <mat-list>
        <div mat-subheader>Datos del contacto</div>
        <a href="tel:9983194127">
          <mat-list-item >
            <mat-icon mat-list-icon>call</mat-icon>
            <div mat-line>Teléfono: 998 319 41 27</div>
          </mat-list-item>
        </a>
        <a href="mailto:crhist89@gmail.com">
          <mat-list-item >
            <mat-icon mat-list-icon>email</mat-icon>
            <div mat-line>Email: crhist89@gmail.com</div>
          </mat-list-item>
        </a>
       </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://www.linkedin.com/in/crhistian-heredia-172b49102/">Linkedin</a>
      <a mat-button href="https://www.facebook.com/CrhistHeredia">Facebook</a>
    </mat-card-actions>
  </mat-card>

</div>
